@import "globals";
@import "variables";
@import "indicator";

body.dark-theme {
  color: $dark-theme-text;
  background-color: $dark-theme-bg;

  .hero-section {
    .toggle {
      i {
        color: $dark-theme-text;
      }
    }
  }

  .about-me {
    .about-text {
      .button-effect {
        a {
          background-color: $dark-theme-text;
        }
      }

      .effect {
        color: $dark-theme-bg;
      }
    }
  }

  .work {
    .card {
      .card-body {
        .mobile-button {
          background: $dark-theme-text;
          color: $dark-theme-bg;
        }
      }
    }
  }
}