@import "variables";

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $light-theme-bg;
  overflow-x: hidden;
  color: $light-theme-text;

  margin: 0;
  padding: 0;

  .underline {
    display: inline;
    border-bottom: 2px solid $accent;
  }
}
