$text-border: #707070;
$dark-theme-text: #78e0dc;
$light-theme-bg: #f6f5f5;
$dark-theme-bg: #22223b;
$accent: #ef3e36;
$light-theme-text: #40798c;

//Mobile
$mobile-heading-size: 4rem;
$mobile-subheading-size: 2.5rem;
$mobile-skills-size: 2rem;

//Tablet
$tablet-paragraph-size: 3rem;
$tablet-heading-size: 5rem;
$tablet-skills-size: 3.2rem;

//Desktop
$desktop-skills-size: 5rem;
$desktop-heading-size: 6.5rem;
$desktop-paragraph-size: 3.2rem;
