$text-border: #707070;
$dark-theme-text: #78e0dc;
$light-theme-bg: #f6f5f5;
$dark-theme-bg: #22223b;
$accent: #ef3e36;
$light-theme-text: #40798c;

//Mobile
$mobile-heading-size: 3.125rem;
$mobile-skills-size: 1.56rem;

//Tablet
$tablet-paragraph-size: 1.875rem;
$tablet-heading-size: 3.125rem;
$tablet-skills-size: 2.19rem;

//Desktop
$desktop-skills-size: 3.125rem;
$desktop-heading-size: 4.06rem;
$desktop-paragraph-size: 2rem;