@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import "globals";
@import "variables";
@import "indicator";

h1 {
  font-weight: 400;
  font-size: $mobile-heading-size;
  line-height: 4.375rem;
  text-align: center;
  letter-spacing: 0px;
}

.top-right {
  position: absolute;
  right: 0;
  z-index: -1;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;

  .wave {
    margin-bottom: -0.625em;

    svg {
      width: 100vw;
      height: 100px;
    }
  }

  .toggle {
    display: none;
  }

  h1 {
    text-shadow: 0.5px 0.5px $text-border;

    p {
      font-weight: 200;
      font-size: 2.19rem;
      line-height: 3.3125rem;
      text-align: left;
      width: 300px;
      margin: 0 auto;
    }
  }

  .hero-image {
    text-align: center;
    img {
      height: 226px;
      width: 226px;
    }
  }

  @keyframes animate {
    0% {
      border-color: $dark-theme-bg;
      transform: translate(0, 0);
    }
    20% {
      border-color: $dark-theme-bg;
      transform: translate(15px, 15px);
    }
    20.1%,
    100% {
      border-color: $accent;
    }
  }
}

.about-me {
  position: relative;
  height: 110vh;
  width: 100%;
  top: -4.3rem;

  svg {
    z-index: -1;
    height: 150px;
    width: 150px;
  }

  .title {
    h1 {
      text-decoration: underline;
      padding-top: 1em;
    }
  }

  .about-text {
    p {
      font-weight: 200;
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      width: 340px;
      margin: 0 auto;
    }
  }

  .memoji {
    text-align: center;
    img {
      width: 201.3px;
      height: 266.25px;
      padding: 0;
    }
  }
}

.work {
  position: relative;
  height: 150vh;
  width: 100%;
  top: -4.6rem;

  .title {
    h1 {
      text-decoration: underline;
    }
  }

  .card {
    width: 300px;
    height: 290px;
    box-shadow: 0px 2px 10px #40798ccc;
    border-radius: 5px;
    padding: 0;
    display: block;
    margin: 0 auto 20px auto;

    img {
      border-radius: 5px;
    }

    .card-body {
      padding-top: 1px;
      text-align: center;

      h5 {
        font-size: 1.2rem;
        line-height: 3rem;
        margin: 0;
      }

      .card-text {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 200;
        line-height: 21px;
      }
    }
  }
}

.skills {
  position: relative;
  height: 120vh;
  width: 100%;
  top: -3.2rem;

  .title {
    h1 {
      text-decoration: underline;
      padding-top: 1em;
    }
  }

  svg.top-right,
  svg.bottom-left {
    height: 150px;
    width: 150px;
  }

  .webdev-icons {
    text-align: center;
    margin: 0;
  }

  i,
  svg[data-icon="simple-icons:adobexd"] {
    font-size: 35px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
  }

  .center,
  svg[data-icon="simple-icons:adobexd"] {
    text-align: center;
    width: 100%;
  }

  p {
    text-align: center;
    font-size: $mobile-skills-size;
    font-weight: 200;
    line-height: 3rem;
    margin: 3px 0;
  }

  .memoji {
    text-align: center;

    img {
      width: 226px;
      height: 226px;
    }
  }
}

.contact {
  position: relative;
  height: 78vh;
  width: 100%;
  top: -3.2rem;

  .title {
    h1 {
      text-decoration: underline;
      margin-bottom: 30px;
    }
  }

  .container {
    form {
      text-align: center;

      .form-control {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
      }

      input,
      textarea {
        width: 253px;
        margin-bottom: 1rem;
        border-radius: 3px;
        border-style: none;
      }

      input {
        height: 50px;
      }

      button {
        display: block;
        margin: 0 auto;
        background-color: $dark-theme-text;
        color: $accent;
        border: none;
        border-radius: 48px;
        width: 223px;
        font-size: 20px;
        line-height: 30px;
        padding: 5px 15px;
      }
    }
  }

  .icons {
    text-align: center;
    a,
    :visited,
    :hover,
    :focus {
      color: $dark-theme-text;
    }

    i {
      font-size: 35px;
      padding: 20px 20px 0 20px;
    }
  }
}
